
# ----------------------------------------------------------------------
# Правила для Фреймворка / CMS (ниже - для Yii, при необходимости - заменить своим)
# ----------------------------------------------------------------------
<IfModule mod_rewrite.c>
  # Если ваш сайт находится в папке, например "application", тогда изменение названия папки потребует изменения RewriteBase /[путь_к_сайту]
  # RewriteBase /[путь_к_сайту(не обязательно)]
  #RewriteBase /
  # Если директория или папка существует, отдавать напрямую
  #RewriteCond %{REQUEST_FILENAME} -s [OR]
  #RewriteCond %{REQUEST_FILENAME} -l [OR]
  #RewriteCond %{REQUEST_FILENAME} -d
  # иначе, перенаправлять на index.php 
#   RewriteRule ^.*$ - [NC,L]
#   RewriteRule ^.*$ index.php [NC,L]

RewriteRule ^/seo$ $1.php [L]

#  Redirect 301 /adwords.php http://ipkp.ru/seo.php
#  RedirectMatch /?p=1206 /seo.php
#  Redirect 301 /?p=1206 http://ipkp.ru/seo.php
#  Redirect permanent /?p=1206 http://ipkp.ru/seo.php
</IfModule>