* {
  .box-sizing(border-box);
}
*:before,
*:after {
  .box-sizing(border-box);
}
html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-size: 16px;
	color: @base;
}

.container {
	width: @container;
	margin: 0 auto;
	.clearfix;
}

.title {
	font-size: 48px;
	font-weight: normal;
	text-align: center;
	margin: 70px 0 30px;
}