
@base: #717580;
@primary: #1679c7;

@title-color: @white;

@font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@hero-text: @base;
@hero-bg: -webkit-radial-gradient(50% 90%, circle cover, #4f525b, #23262c 100%);

@navbar-bg: #373c45;
@navbar-border: @white;

@navbar-item-color: @white;
@navbar-link-hover-color: @navbar-item-color;
@navbar-link-hover-bg: #22252b;
@navbar-join-border-radius: 4px;

@callback-bg: @primary;

// @media-accent-fsz: 70px;