@folder: '/';

@container: 1000px;

@base: #222;
@white: #fff;
@primary: #27A34E;
@bg: #f0f3e4;
@bg-gray: #F9FAF5;
@gray: #666;

@font-size-base: 16px;
@font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
@line-height-base: 1.428571429;
@z-index-navbar: 3000;
@z-index-popover: 2000;
@z-index-modal: 4000;

@title-color: @base;

@padding-screen: 50px;
@padding-line: 50px 0 40px;

@hero-text: darken(@gray, 15%);
@hero-bg: #E3EADD url('@{folder}i/bg.jpg');
@hero-offset: 30px;

@hero-form-width: 330px;
@hero-form-ml: 60px;

@navbar-height: 60px;
@navbar-bg: @primary;
@navbar-border: @white;

@navbar-item-color: @white;
@navbar-item-transition: all .25s ease;
@navbar-link-padding: 22px 18px;
@navbar-link-hover-color: @navbar-item-color;
@navbar-link-hover-bg: darken(@primary, 5%);
@navbar-join-border-radius: 4px;

@callback-bg: @base;

@footer-bg: url('@{folder}i/fon.jpg');

@media-accent-fsz: 50px;
@media-unit-fsz: 20px;

@popover-width: 250px;
@popover-height: 200px;