.spec {
  position: relative;
  float: left;
 	width: 33%;
  min-height: 1px;

  &__image {
  	background-color: @white;
  	border-radius: 100%;
  }

	&__content {
		margin: auto;
		width: (@container/4);
	}
}